body{
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.image{
    height: 600px;
}
@media (max-width: 600px) {
    .image{
        height: 300px;
    }
    .fullwidth{
        width: 100%;
    }
}

@media (min-width: 600px){
    .fullwidth{
        width: 50%;
    }
}

@media (max-width: 370px) {
    .notVisible{
        visibility: hidden;
    }
}