/* .navbar-custom{
    background-color: rgb(194, 238, 255);
} */
.img{
    height: 30px;
    width: 30px;
}
.color-nav{
    background-color: rgb(227, 237, 240);
    /* background-color: #e3f2fd */
}