.Search{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchInputs {
    margin-top: 105px;
    display: flex;
}

.Search input {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}

.icon{
    margin-right: 8px;
}

.dataResult {
    position: absolute;
    z-index: 99;
    border-radius: 5px;
    margin-top: 35px;
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid;
    justify-content: flex-start;
    flex-direction: column;
}

.dataItem .singleItem {
    margin-left: 10px;
}

.dataItem:hover {
    background-color: gray;
}

#clearBtn {
    cursor: pointer;
}